## (1) column information
- stopKname 정류장 한글 이름
- stopStandardid 정류장 표준 ID
- stopId 정류장 서비스 ID
- stopX 정류장 x 좌표
- stopY 정류장 y좌표
- reMark 참고사항
- searchFid 검색구분
- searchNm 검색정류장명

In [22]:
# 1.승강장명 목록 조회
import requests
from bs4 import BeautifulSoup
import pandas as pd

key = 'GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'
url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_location2_stopnm_common.do?ServiceKey="+key

res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')


rows = []
for i in soup.find_all('list'):
    rows.append({"stopId": i.stopid.string,
               "stopName": i.stopkname.string,
               "stopStandardId": i.stopstandardid.string,
               "stopX": i.stopx.string,
               "stopY": i.stopy.string,
               "reMark": i.remark.string})
    
columns = ["stopId", "stopName", "stopStandardId", "stopX", "stopY", "reMark"]
busstop_info_df = pd.DataFrame(rows, columns=columns)
busstop_info_df.head(10)

  stopId   stopName stopStandardId         stopX        stopY    reMark
0  30693        BYC      312100693  127.00796999  35.82071324      None
1  30690        BYC      312100690  127.00778106  35.82043092      None
2  30683    CTS전북방송      305100683  127.14640711   35.8199967      None
3  36215    JTV전주방송      305032323   127.0826759   35.8460525      None
4  36214    JTV전주방송      305032322   127.0829642   35.8459724      None
5  31049    KT북전주지점      306101050  127.12318242  35.84292878  KT북전주지점앞
6  31052    KT북전주지점      306101053  127.12308347  35.84310173     KT길건너
7  30912     KT정보센터      305100912  127.11855733  35.83375079      None
8  36274  LS엠트론엔진공장      312900002   127.1179573   35.9698093      None
9  36270  LS엠트론엔진공장      312032801   127.1181823   35.9698397      None

In [16]:
busstop_info_df.to_csv('/Users/junmishin/practice1/TIL/project/df_new_info_final.csv', mode='a', encoding ='utf-8', index=False)

In [17]:
stopname = busstop_info_df['stopName'].drop_duplicates()

In [25]:
stopId = busstop_info_df['stopId']

In [39]:

import random
stopStandardId=[]
for i in range(50):
    stopStandardId.append(int(busstop_info_df.stopStandardId[random.randint(1,len(busstop_info_df))]))
    
    
    
stopStandardId

[305100509,
 312100107,
 306101018,
 312101225,
 312101025,
 305032654,
 305100573,
 305100525,
 312100110,
 312032759,
 312032168,
 312100074,
 305100200,
 312100570,
 312101817,
 312032672,
 305100665,
 306100821,
 311100542,
 305100777,
 305032358,
 305032647,
 305100548,
 311100319,
 312032688,
 305100566,
 312032752,
 306101356,
 306101245,
 305100264,
 312032168,
 312100106,
 306100819,
 305100357,
 306101417,
 312032684,
 305032388,
 312032717,
 316100003,
 306100938,
 312100207,
 305032572,
 305032672,
 312100198,
 305100375,
 312032223,
 312032797,
 312032779,
 305032334,
 312032271]

## (2) columns
- brtId 노선번호
- brtStdid 노선ID
- brtClass 노선확장
- brtDirection 노선방향
- brtSubid 분선ID
- brtSname 기점명
- brtEname 종점명
- brtBusNum 버스대수
- brtFirstTime 첫차시각
- brtLastTime 막차시각
- brtNeedTime 평균소요시간
- brtMininTerVal 점두시배차간격
- brtMaxinTerVal 비첨두시배차간격
- brtllregionTerValYn 배차간격불규칙여부
- StopStandardid 검색정류장 아이디
- Lkey 검색저상버스 유무

In [60]:
# 2. 승강장별 경유노선 목록 조회(승강장 id입력받아 출력)
import requests
from bs4 import BeautifulSoup
import pandas as pd

sid = input("승강장 id를 입력하세요 : ")
key = 'GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'

url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/general_busstop_common.do?ServiceKey="+key+f"&stopStandardid={sid}"

res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')


# soup.find_all('list')
rows = []
for i in soup.find_all('list'):
    rows.append({"brtId": i.brtid.string,
                "brtStdId": i.brtstdid.string,
                "brtClass": i.brtclass.string,
                "brtDirection": i.brtdirection.string,
                "brtSubId": i.brtsubid.string,
                "brtSname": i.brtsname.string,
                "brtEname": i.brtename.string,
                "brtBusNum": i.brtbusnum.string,
                "brtFirstTime": i.brtfirsttime.string,
                "brtLastTime": i.brtlasttime.string,
                "brtNeedTime": i.brtneedtime.string,
                "brtMininTerVal": i.brtmininterval.string,
                "brtMaxinTerVal": i.brtmaxinterval.string,
                "brtIlreginTerValYn": i.brtilregintervalyn.string,
                "stopStandardId": i.stopstandardid.string,
                "Lkey": i.lkey.string})

columns = ["brtId", "brtStdId", "brtClass", "brtDirection", "brtSubId", "brtSname", "brtEname", "brtBusNum", "brtFirstTime", "brtLastTime", "brtNeedTime", "brtMininTerVal", "brtMaxinTerVal", "brtIlreginTerValYn", "stopStandardId", "Lkey"]
DirStop_Info_df = pd.DataFrame(rows, columns=columns)
DirStop_Info_df.head(10)

승강장 id를 입력하세요 :

Empty DataFrame
Columns: [brtId, brtStdId, brtClass, brtDirection, brtSubId, brtSname, brtEname, brtBusNum, brtFirstTime, brtLastTime, brtNeedTime, brtMininTerVal, brtMaxinTerVal, brtIlreginTerValYn, stopStandardId, Lkey]
Index: []

In [ ]:
open_api_key='GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'
params = '&stopStandardid=stopId'

## (3) columns 
- stopStandardid 정류장표준ID
- stopx x좌표
- stopy y좌표
- stopKname 정류장 한글명칭
- reMark 참고사항
- arg1 검색x좌표
- arg2 검색 y좌표
- arg3 검색쿼리갯수

In [61]:
# 3. 좌표기반 근접정류소 목록 조회(x,y,쿼리개수 입력해서 출력)
import requests
from bs4 import BeautifulSoup
import pandas as pd

arg1 = input("x좌표 : ")
arg2 = input("y좌표 : ")
arg3 = input("가져올 쿼리 갯수 : ")
key = 'GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'
url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_stop_approach_common.do?ServiceKey="+key+f"&arg1={arg1}&arg2={arg2}&arg3={arg3}"

res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')    
    
rows = []
for i in soup.find_all('list'):
    rows.append({"stopStandardId": i.stopstandardid.string,
                "stopX": i.stopx.string,
                "stopY": i.stopy.string,
                "stopKname": i.stopkname.string,
                "reMark": i.remark.string,
                "arg1": i.arg1.string,
                "arg2": i.arg2.string,
                "arg3": i.arg3.string,})

columns = ["stopStandardId", "stopX", "stopY", "stopKname", "reMark", "arg1", "arg2", "arg3"]
Arrorach_BusStop_list_df = pd.DataFrame(rows, columns=columns)
Arrorach_BusStop_list_df

# ex) 
# x좌표 = 127.21510097
# y좌표 = 35.76270503
# 쿼리개수 = 5

x좌표 :
y좌표 :
가져올 쿼리 갯수 :

Empty DataFrame
Columns: [stopStandardId, stopX, stopY, stopKname, reMark, arg1, arg2, arg3]
Index: []

In [ ]:
35.76270503

In [ ]:
5

In [42]:
# 2. 승강장별 경유노선 목록 조회 (50개 추출)
import requests
from bs4 import BeautifulSoup
import pandas as pd

rows = []
for i in stopStandardId: 
    sid = i
    key = 'GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'

    url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/general_busstop_common.do?ServiceKey="+key+f"&stopStandardid={sid}"

    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')


    # soup.find_all('list')
    for i in soup.find_all('list'):
        rows.append({"brtId": i.brtid.string,
                    "brtStdId": i.brtstdid.string,
                    "brtClass": i.brtclass.string,
                    "brtDirection": i.brtdirection.string,
                    "brtSubId": i.brtsubid.string,
                    "brtSname": i.brtsname.string,
                    "brtEname": i.brtename.string,
                    "brtBusNum": i.brtbusnum.string,
                    "brtFirstTime": i.brtfirsttime.string,
                    "brtLastTime": i.brtlasttime.string,
                    "brtNeedTime": i.brtneedtime.string,
                    "brtMininTerVal": i.brtmininterval.string,
                    "brtMaxinTerVal": i.brtmaxinterval.string,
                    "brtIlreginTerValYn": i.brtilregintervalyn.string,
                    "stopStandardId": i.stopstandardid.string,
                    "Lkey": i.lkey.string})

columns = ["brtId", "brtStdId", "brtClass", "brtDirection", "brtSubId", "brtSname", "brtEname", "brtBusNum", "brtFirstTime", "brtLastTime", "brtNeedTime", "brtMininTerVal", "brtMaxinTerVal", "brtIlreginTerValYn", "stopStandardId", "Lkey"]
DirStop_Info_df = pd.DataFrame(rows, columns=columns)
DirStop_Info_df

,brtId,brtStdId,brtClass,brtDirection,brtSubId,brtSname,brtEname,brtBusNum,brtFirstTime,brtLastTime,brtNeedTime,brtMininTerVal,brtMaxinTerVal,brtIlreginTerValYn,stopStandardId,Lkey
0,62,305001017,0,2,B,에코자이2차,삼산리,None,605,605,None,None,None,None,None,None
1,25,305001051,0,1,C,전동성당.한옥마을,대문안종점,None,600,600,None,None,None,None,None,None
2,7,305001096,1,1,0,삼천동종점,삼천동종점,None,610,2230,None,None,None,None,None,None
3,112,305001102,0,2,0,진조리종점,신덕마을,None,600,2120,None,None,None,None,None,None
4,3,305001010,1,1,C,전북대학교.농협앞,전주대학교,None,600,600,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,947,305001256,0,2,0,상운암,송천동종점,None,810,1830,None,None,None,None,None,None
377,385,305001162,0,2,0,우석대학교,전주대학교,None,614,2234,None,None,None,None,None,None
378,974,305001386,0,2,A,가는정이,송천동종점,None,1152,1152,None,None,None,None,None,None
379,974,305001387,0,2,B,장작골,송천동종점,None,630,1831,None,None,None,None,None,None
380,974,305001262,0,2,0,하운암,송천동종점,None,720,2218,None,None,None,None,None,None

In [49]:

import random
stopX=[]
stopY=[]

for i in range(50):
    randnum = random.randint(1,len(busstop_info_df))
    stopX.append(float(busstop_info_df.stopX[randnum]))
    stopY.append(float(busstop_info_df.stopY[randnum]))

    
print(stopX, stopY)

[127.0764847, 127.15795883, 127.11576946, 127.0838226, 127.07983613, 127.0559033, 127.0155789, 127.17837731, 127.12998758, 127.10335686, 127.17846939, 127.07427372, 127.04540731, 127.0788275, 127.14638647, 127.10334623, 127.15993797, 127.11443671, 127.10266344, 127.2395354, 127.08102906, 127.1253479, 127.17258921, 127.11882197, 127.2234787, 126.99172302, 126.97527905, 127.1252477, 126.99282641, 127.1878771, 127.12819233, 127.13054921, 127.00427055, 127.01579948, 127.04813327, 127.08885531, 127.3131117, 127.25348091, 127.2836357, 126.95046527, 127.1652149, 127.14699101, 127.10082623, 127.16047848, 127.15423527, 127.0884193, 127.15448794, 127.12499475, 127.19701981, 127.00065808] [35.851647, 35.80737619, 35.73199297, 35.848068, 35.68356853, 35.8425836, 35.867323, 35.96742545, 35.78420517, 35.64110445, 35.87947253, 35.80715618, 35.89195941, 35.8461031, 35.80104093, 35.80456422, 35.83723127, 35.79877093, 35.83775456, 35.84107106, 35.91594425, 35.9574618, 35.8594493, 35.98303944, 35.9781789, 35.86786225, 35.81506032, 35.91678768, 35.72805205, 36.0023714, 35.90783403, 35.83390745, 35.81983089, 35.83256006, 35.83744573, 35.82011356, 35.8837206, 35.69033991, 35.9101829, 35.8777075, 36.0929158, 35.81594824, 35.80986678, 35.74388304, 35.82905338, 35.8538749, 35.80143367, 35.92790433, 35.85908985, 35.73798985]

In [58]:
# 3. 좌표기반 근접정류소 목록 조회
import requests
from bs4 import BeautifulSoup
import pandas as pd

rows = []
for j in range(len(stopX)): 

    arg1 = stopX[j]
    arg2 = stopY[j]
    key = 'GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'
    url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_stop_approach_common.do?ServiceKey="+key+f"&arg1={arg1}&arg2={arg2}&arg3=3"
    
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')    
    

    for i in soup.find_all('list'):
        rows.append({"stopStandardId": i.stopstandardid.string,
                    "stopX": i.stopx.string,
                    "stopY": i.stopy.string,
                    "stopKname": i.stopkname.string,
                    "reMark": i.remark.string,
                    "arg1": i.arg1.string,
                    "arg2": i.arg2.string,
                    "arg3": i.arg3.string,})

columns = ["stopStandardId", "stopX", "stopY", "stopKname", "reMark", "arg1", "arg2", "arg3"]
Arrorach_BusStop_list_df = pd.DataFrame(rows, columns=columns)
Arrorach_BusStop_list_df

# ex) 
# x좌표 = 127.21510097
# y좌표 = 35.76270503
# 쿼리개수 = 5

,stopStandardId,stopX,stopY,stopKname,reMark,arg1,arg2,arg3
0,305032441,127.0764847,35.851647,용정마을.하나로클럽,None,None,None,None
1,305032440,127.0760632,35.8517717,용정마을.하나로클럽,None,None,None,None
2,306101150,127.07762199,35.85238121,하나로클럽,None,None,None,None
3,305102023,127.15795883,35.80737619,남고사입구,좁은목방향,None,None,None
4,305100018,127.15791314,35.80751107,남고사입구,평화동방향,None,None,None
...,...,...,...,...,...,...,...,...
145,312101258,127.19721877,35.85917531,마월리,None,None,None,None
146,306101187,127.19623694,35.8542283,아래삼거리,None,None,None,None
147,311100125,127.00065808,35.73798985,봉은마을,None,None,None,None
148,311100126,127.00050373,35.73807185,봉은마을,None,None,None,None
149,311100132,127.00190967,35.7413551,서릿골,None,None,None,None