## (1) column information
- stopKname 정류장 한글 이름
- stopStandardid 정류장 표준 ID
- stopId 정류장 서비스 ID
- stopX 정류장 x 좌표
- stopY 정류장 y좌표
- reMark 참고사항
- searchFid 검색구분
- searchNm 검색정류장명

In [3]:
# 1.승강장명 목록 조회
import requests
from bs4 import BeautifulSoup
import pandas as pd

key = 'mRkRwHL2X4CMzoCQkGanRLR9fo1/GJC2pLGQZWO5xr2D0VJ5NKO4rSyv5upunYVtLZLIvY0lwI9jV3ZpKh4hSw=='
url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_location2_stopnm_common.do?ServiceKey="+key

res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')


rows = []
for i in soup.find_all('list'):
    rows.append({"stopId": i.stopid.string,
               "stopName": i.stopkname.string,
               "stopStandardId": i.stopstandardid.string,
               "stopX": i.stopx.string,
               "stopY": i.stopy.string,
               "reMark": i.remark.string})
    
columns = ["stopId", "stopName", "stopStandardId", "stopX", "stopY", "reMark"]
busstop_info_df = pd.DataFrame(rows, columns=columns)
busstop_info_df.head()

  stopId stopName stopStandardId         stopX        stopY reMark
0  30693      BYC      312100693  127.00796999  35.82071324   None
1  30690      BYC      312100690  127.00778106  35.82043092   None
2  30683  CTS전북방송      305100683  127.14640711   35.8199967   None
3  36215  JTV전주방송      305032323   127.0826759   35.8460525   None
4  36214  JTV전주방송      305032322   127.0829642   35.8459724   None

In [4]:
busstop_info_df.isnull().sum()  #결측치 x

stopId               0
stopName             0
stopStandardId       0
stopX                0
stopY                0
reMark            2120
dtype: int64

In [5]:
busstop_info_df.isnull().sum()

stopId               0
stopName             0
stopStandardId       0
stopX                0
stopY                0
reMark            2120
dtype: int64

In [11]:
busstop_info_df.to_csv('/Users/junmishin/practice1/TIL/project/df_new_info_final.csv', mode='a', encoding ='utf-8', index=False)

In [12]:
stopname = busstop_info_df['stopName'].drop_duplicates()

In [13]:
stopId = busstop_info_df['stopId']

In [14]:

import random
stopStandardId=[]
for i in range(50):
    stopStandardId.append(int(busstop_info_df.stopStandardId[random.randint(1,len(busstop_info_df))]))
    
    
    
stopStandardId

[305032463,
 311100243,
 312101194,
 305100238,
 306101452,
 312032371,
 305032634,
 305100336,
 305032545,
 306101325,
 306101606,
 312101385,
 312101679,
 312100040,
 305100651,
 312101909,
 312032141,
 312101951,
 312101982,
 311100283,
 306032304,
 312100799,
 312101809,
 312102027,
 305100382,
 306101103,
 311101065,
 306101490,
 306101497,
 306101443,
 312101284,
 305100461,
 305100440,
 312032244,
 305032577,
 305100185,
 306101213,
 306101268,
 306101381,
 305100814,
 305032566,
 312101577,
 312032374,
 312101605,
 305100328,
 312100594,
 312101815,
 312100376,
 305100412,
 306101339]

In [15]:
stopStandardId=pd.DataFrame(stopStandardId)
stopStandardId.to_csv('/Users/junmishin/practice1/TIL/project/stopStandardId.csv',header=False,index=False)

## (2) columns
- brtId 노선번호
- brtStdid 노선ID
- brtClass 노선확장
- brtDirection 노선방향
- brtSubid 분선ID
- brtSname 기점명
- brtEname 종점명
- brtBusNum 버스대수
- brtFirstTime 첫차시각
- brtLastTime 막차시각
- brtNeedTime 평균소요시간
- brtMininTerVal 점두시배차간격
- brtMaxinTerVal 비첨두시배차간격
- brtllregionTerValYn 배차간격불규칙여부
- StopStandardid 검색정류장 아이디
- Lkey 검색저상버스 유무

In [16]:
# 2. 승강장별 경유노선 목록 조회(승강장 id입력받아 출력)
import requests
from bs4 import BeautifulSoup
import pandas as pd

sid = input("승강장 id를 입력하세요 : ")
key = 'mRkRwHL2X4CMzoCQkGanRLR9fo1/GJC2pLGQZWO5xr2D0VJ5NKO4rSyv5upunYVtLZLIvY0lwI9jV3ZpKh4hSw=='

url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/general_busstop_common.do?ServiceKey="+key+f"&stopStandardid={sid}"

res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')


# soup.find_all('list')
rows = []
for i in soup.find_all('list'):
    rows.append({"brtId": i.brtid.string,
                "brtStdId": i.brtstdid.string,
                "brtClass": i.brtclass.string,
                "brtDirection": i.brtdirection.string,
                "brtSubId": i.brtsubid.string,
                "brtSname": i.brtsname.string,
                "brtEname": i.brtename.string,
                "brtBusNum": i.brtbusnum.string,
                "brtFirstTime": i.brtfirsttime.string,
                "brtLastTime": i.brtlasttime.string,
                "brtNeedTime": i.brtneedtime.string,
                "brtMininTerVal": i.brtmininterval.string,
                "brtMaxinTerVal": i.brtmaxinterval.string,
                "brtIlreginTerValYn": i.brtilregintervalyn.string,
                "stopStandardId": i.stopstandardid.string,
                "Lkey": i.lkey.string})

columns = ["brtId", "brtStdId", "brtClass", "brtDirection", "brtSubId", "brtSname", "brtEname", "brtBusNum", "brtFirstTime", "brtLastTime", "brtNeedTime", "brtMininTerVal", "brtMaxinTerVal", "brtIlreginTerValYn", "stopStandardId", "Lkey"]
DirStop_Info_df = pd.DataFrame(rows, columns=columns)
DirStop_Info_df.head(10)

승강장 id를 입력하세요 :

Empty DataFrame
Columns: [brtId, brtStdId, brtClass, brtDirection, brtSubId, brtSname, brtEname, brtBusNum, brtFirstTime, brtLastTime, brtNeedTime, brtMininTerVal, brtMaxinTerVal, brtIlreginTerValYn, stopStandardId, Lkey]
Index: []

In [17]:
open_api_key='GRdPaq%2BUTtmiveaL2XBJpAuJy2k7z8pSJ8KIRHquOhElUoh7OCp9DkKcw017imzsJ%2FIXmTyxgbnTdz63TotL9w%3D%3D'
params = '&stopStandardid=stopId'

## (3) columns 
- stopStandardid 정류장표준ID
- stopx x좌표
- stopy y좌표
- stopKname 정류장 한글명칭
- reMark 참고사항
- arg1 검색x좌표
- arg2 검색 y좌표
- arg3 검색쿼리갯수

In [18]:
# 3. 좌표기반 근접정류소 목록 조회(x,y,쿼리개수 입력해서 출력)
import requests
from bs4 import BeautifulSoup
import pandas as pd

arg1 = input("x좌표 : ")
arg2 = input("y좌표 : ")
arg3 = input("가져올 쿼리 갯수 : ")
key = 'mRkRwHL2X4CMzoCQkGanRLR9fo1/GJC2pLGQZWO5xr2D0VJ5NKO4rSyv5upunYVtLZLIvY0lwI9jV3ZpKh4hSw=='
url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_stop_approach_common.do?ServiceKey="+key+f"&arg1={arg1}&arg2={arg2}&arg3={arg3}"

res = requests.get(url)
soup = BeautifulSoup(res.content, 'html.parser')    
    
rows = []
for i in soup.find_all('list'):
    rows.append({"stopStandardId": i.stopstandardid.string,
                "stopX": i.stopx.string,
                "stopY": i.stopy.string,
                "stopKname": i.stopkname.string,
                "reMark": i.remark.string,
                "arg1": i.arg1.string,
                "arg2": i.arg2.string,
                "arg3": i.arg3.string,})

columns = ["stopStandardId", "stopX", "stopY", "stopKname", "reMark", "arg1", "arg2", "arg3"]
Arrorach_BusStop_list_df = pd.DataFrame(rows, columns=columns)
Arrorach_BusStop_list_df

# ex) 
# x좌표 = 127.21510097
# y좌표 = 35.76270503
# 쿼리개수 = 5

x좌표 :
y좌표 :
가져올 쿼리 갯수 :

Empty DataFrame
Columns: [stopStandardId, stopX, stopY, stopKname, reMark, arg1, arg2, arg3]
Index: []

In [19]:
35.76270503

35.76270503

In [20]:
5

5

In [21]:
# 2. 승강장별 경유노선 목록 조회 (50개 추출)
import requests
from bs4 import BeautifulSoup
import pandas as pd

rows = []
for i in stopStandardId: 
    sid = i
    key = 'mRkRwHL2X4CMzoCQkGanRLR9fo1/GJC2pLGQZWO5xr2D0VJ5NKO4rSyv5upunYVtLZLIvY0lwI9jV3ZpKh4hSw=='

    url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/general_busstop_common.do?ServiceKey="+key+f"&stopStandardid={sid}"

    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')


    # soup.find_all('list')
    for i in soup.find_all('list'):
        rows.append({"brtId": i.brtid.string,
                    "brtStdId": i.brtstdid.string,
                    "brtClass": i.brtclass.string,
                    "brtDirection": i.brtdirection.string,
                    "brtSubId": i.brtsubid.string,
                    "brtSname": i.brtsname.string,
                    "brtEname": i.brtename.string,
                    "brtBusNum": i.brtbusnum.string,
                    "brtFirstTime": i.brtfirsttime.string,
                    "brtLastTime": i.brtlasttime.string,
                    "brtNeedTime": i.brtneedtime.string,
                    "brtMininTerVal": i.brtmininterval.string,
                    "brtMaxinTerVal": i.brtmaxinterval.string,
                    "brtIlreginTerValYn": i.brtilregintervalyn.string,
                    "stopStandardId": i.stopstandardid.string,
                    "Lkey": i.lkey.string})

columns = ["brtId", "brtStdId", "brtClass", "brtDirection", "brtSubId", "brtSname", "brtEname", "brtBusNum", "brtFirstTime", "brtLastTime", "brtNeedTime", "brtMininTerVal", "brtMaxinTerVal", "brtIlreginTerValYn", "stopStandardId", "Lkey"]
DirStop_Info_df = pd.DataFrame(rows, columns=columns)
DirStop_Info_df

Empty DataFrame
Columns: [brtId, brtStdId, brtClass, brtDirection, brtSubId, brtSname, brtEname, brtBusNum, brtFirstTime, brtLastTime, brtNeedTime, brtMininTerVal, brtMaxinTerVal, brtIlreginTerValYn, stopStandardId, Lkey]
Index: []

In [22]:
DirStop_Info_df.to_csv('/Users/junmishin/practice1/TIL/project/DirStop_Info_df.csv', mode='a', encoding ='utf-8', index=False)

In [23]:
DirStop_Info_df

Empty DataFrame
Columns: [brtId, brtStdId, brtClass, brtDirection, brtSubId, brtSname, brtEname, brtBusNum, brtFirstTime, brtLastTime, brtNeedTime, brtMininTerVal, brtMaxinTerVal, brtIlreginTerValYn, stopStandardId, Lkey]
Index: []

In [24]:
DirStop_Info_df.isnull().sum()

brtId                 0.0
brtStdId              0.0
brtClass              0.0
brtDirection          0.0
brtSubId              0.0
brtSname              0.0
brtEname              0.0
brtBusNum             0.0
brtFirstTime          0.0
brtLastTime           0.0
brtNeedTime           0.0
brtMininTerVal        0.0
brtMaxinTerVal        0.0
brtIlreginTerValYn    0.0
stopStandardId        0.0
Lkey                  0.0
dtype: float64

In [25]:

import random
stopX=[]
stopY=[]

for i in range(50):
    randnum = random.randint(1,len(busstop_info_df))
    stopX.append(float(busstop_info_df.stopX[randnum]))
    stopY.append(float(busstop_info_df.stopY[randnum]))

    
print(stopX, stopY)

[127.14507178, 127.1038062, 127.10516829, 127.1373362, 127.12333066, 127.09679973, 127.10182271, 127.10245833, 127.13340025, 127.17154856, 127.2807024, 127.24317502, 127.18230666, 127.11589385, 127.07221289, 127.2494756, 126.99489496, 127.15453607, 127.0396271, 126.99495176, 127.13610882, 127.14856133, 127.22229808, 127.151539, 127.07177901, 127.32763549, 127.06743908, 127.15712156, 127.0667511, 127.28224587, 127.17459221, 127.08149515, 127.168542, 126.98958226, 127.2093966, 127.1926561, 127.16351897, 127.2419025, 127.15791314, 127.03112939, 127.16745218, 127.2936743, 127.11187044, 127.00272492, 127.0312898, 127.06446596, 127.1048341, 127.1472287, 127.15565437, 127.1141276] [35.81819855, 35.78295686, 35.85328787, 35.878888, 35.81413825, 35.84196812, 35.81110235, 35.84929956, 35.90014623, 35.90427527, 35.8051089, 35.88355097, 35.96945522, 35.83139685, 35.83228875, 35.8678617, 35.72083254, 35.85354059, 35.8549592, 35.71759311, 36.00473908, 35.94191868, 36.00397817, 36.0419042, 35.90989749, 35.80278728, 35.85771813, 35.75570481, 35.915344, 35.8408948, 35.86201201, 35.79006841, 35.9319952, 35.81483493, 35.85653277, 35.79442795, 35.87069764, 35.895453, 35.80751107, 35.84409633, 35.83951413, 35.8474773, 35.81633783, 35.74580087, 35.8218052, 35.83694249, 35.82542716, 35.8679981, 35.85831731, 35.8131442]

In [130]:
# 3. 좌표기반 근접정류소 목록 조회
import requests
from bs4 import BeautifulSoup
import pandas as pd

rows = []
for j in range(50): 

    arg1 = stopX[j]
    arg2 = stopY[j]
    key = 'mRkRwHL2X4CMzoCQkGanRLR9fo1/GJC2pLGQZWO5xr2D0VJ5NKO4rSyv5upunYVtLZLIvY0lwI9jV3ZpKh4hSw=='

    url = "http://openapi.jeonju.go.kr/jeonjubus/openApi/traffic/bus_stop_approach_common.do?ServiceKey="+key+f"&arg1={arg1}&arg2={arg2}&arg3=3"
    
    res = requests.get(url)
    soup = BeautifulSoup(res.content, 'html.parser')    
    

    for i in soup.find_all('list'):
        rows.append({"stopStandardId": i.stopstandardid.string,
                    "stopX": i.stopx.string,
                    "stopY": i.stopy.string,
                    "stopKname": i.stopkname.string,
                    "reMark": i.remark.string,
                    "arg1": i.arg1.string,
                    "arg2": i.arg2.string,
                    "arg3": i.arg3.string,})

columns = ["stopStandardId", "stopX", "stopY", "stopKname", "reMark", "arg1", "arg2", "arg3"]
Arrorach_BusStop_list_df = pd.DataFrame(rows, columns=columns)
Arrorach_BusStop_list_df

# ex) 
# x좌표 = 127.21510097
# y좌표 = 35.76270503
# 쿼리개수 = 5

,stopStandardId,stopX,stopY,stopKname,reMark,arg1,arg2,arg3
0,305100649,127.14507178,35.81819855,충경로 객사,객사앞,None,None,None
1,305100648,127.14542022,35.81798392,충경로 객사,객사맞은편,None,None,None
2,305100675,127.14647881,35.81950149,외환은행,None,None,None,None
3,305100290,127.1038062,35.78295686,정동마을,None,None,None,None
4,305100291,127.10393777,35.78315647,정동마을,None,None,None,None
...,...,...,...,...,...,...,...,...
145,306101245,127.1552294,35.85815573,호성동신아파트,호성네거리방향,None,None,None
146,305032365,127.153752,35.8585547,호성유원아파트,None,None,None,None
147,305032462,127.1141276,35.8131442,서원로이동교,None,None,None,None
148,305100576,127.11388786,35.81288005,거마평로이동교,전주대방향,None,None,None
149,305100579,127.11462547,35.81330815,서원로이동교,전주대방향,None,None,None

In [131]:
Arrorach_BusStop_list_df.isnull().sum()

stopStandardId      0
stopX               0
stopY               0
stopKname           0
reMark            112
arg1              150
arg2              150
arg3              150
dtype: int64

In [16]:
DirStop_Info_df = pd.read_csv('/Users/junmishin/practice1/TIL/project/DirStop_Info_df.csv')

In [17]:
DirStop_Info_df

,brtId,brtStdId,brtClass,brtDirection,brtSubId,brtSname,brtEname,brtBusNum,brtFirstTime,brtLastTime,brtNeedTime,brtMininTerVal,brtMaxinTerVal,brtIlreginTerValYn,stopStandardId,Lkey
0,88,305200572,0,2,0,중인동,감수리,NaN,603.0,2200.0,NaN,27.0,42.0,NaN,NaN,NaN
1,31,305001066,0,2,0,원구암,삼례터미널,NaN,800.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN
2,31,305001415,0,2,A,원구암,삼례터미널,NaN,1400.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
3,31,305001067,0,2,C,별산리,삼례터미널,NaN,630.0,630.0,NaN,NaN,NaN,NaN,NaN,NaN
4,55,305001110,0,2,0,오천마을,평화동종점,NaN,708.0,1948.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,806,305001228,0,2,0,앞멀,평화동종점,NaN,625.0,2026.0,NaN,NaN,NaN,NaN,NaN,NaN
7700,872,305001250,0,2,0,장승리종점,평화동종점,NaN,710.0,2030.0,NaN,NaN,NaN,NaN,NaN,NaN
7701,837,305001374,0,2,A,응암마을,비전대학교,NaN,720.0,720.0,NaN,NaN,NaN,NaN,NaN,NaN
7702,855,305001244,0,2,0,분토종점,비전대학교,NaN,750.0,2102.0,NaN,NaN,NaN,NaN,NaN,NaN
7703,866,305001246,0,2,0,상리,비전대학교,NaN,808.0,2122.0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
DirStop_Info_df.isnull().sum()

brtId                    0
brtStdId                 0
brtClass                 0
brtDirection             0
brtSubId                 0
brtSname                 0
brtEname                 0
brtBusNum             7476
brtFirstTime           114
brtLastTime            114
brtNeedTime           7476
brtMininTerVal        6961
brtMaxinTerVal        6961
brtIlreginTerValYn    7704
stopStandardId        7704
Lkey                  7704
dtype: int64

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
DirStop_Info_df

,brtId,brtStdId,brtClass,brtDirection,brtSubId,brtSname,brtEname,brtBusNum,brtFirstTime,brtLastTime,brtNeedTime,brtMininTerVal,brtMaxinTerVal,brtIlreginTerValYn,stopStandardId,Lkey
0,88,305200572,0,2,0,중인동,감수리,NaN,603.0,2200.0,NaN,27.0,42.0,NaN,NaN,NaN
1,31,305001066,0,2,0,원구암,삼례터미널,NaN,800.0,1200.0,NaN,NaN,NaN,NaN,NaN,NaN
2,31,305001415,0,2,A,원구암,삼례터미널,NaN,1400.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN
3,31,305001067,0,2,C,별산리,삼례터미널,NaN,630.0,630.0,NaN,NaN,NaN,NaN,NaN,NaN
4,55,305001110,0,2,0,오천마을,평화동종점,NaN,708.0,1948.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,806,305001228,0,2,0,앞멀,평화동종점,NaN,625.0,2026.0,NaN,NaN,NaN,NaN,NaN,NaN
7700,872,305001250,0,2,0,장승리종점,평화동종점,NaN,710.0,2030.0,NaN,NaN,NaN,NaN,NaN,NaN
7701,837,305001374,0,2,A,응암마을,비전대학교,NaN,720.0,720.0,NaN,NaN,NaN,NaN,NaN,NaN
7702,855,305001244,0,2,0,분토종점,비전대학교,NaN,750.0,2102.0,NaN,NaN,NaN,NaN,NaN,NaN
7703,866,305001246,0,2,0,상리,비전대학교,NaN,808.0,2122.0,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
'brtId','brtStdId','brtClass','brtDirection','brtSubId','brtSname','brtEname','brtBusNum','brtFirstTime',''

('brtId',
 'brtStdId',
 'brtClass',
 'brtDirection',
 'brtSubId',
 'brtSname',
 'brtEname',
 'brtBusNum',
 'brtFirstTime',
 '')

In [22]:
#결측치 대체
imputer = SimpleImputer(strategy='most_frequent')

DirStop_Info_df = pd.DataFrame(imputer.fit_transform(DirStop_Info_df))
DirStop_Info_df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,88,305200572,0,2,0,중인동,감수리,0.0,603.0,2200.0,0.0,27.0,42.0
1,31,305001066,0,2,0,원구암,삼례터미널,0.0,800.0,1200.0,0.0,0.0,0.0
2,31,305001415,0,2,A,원구암,삼례터미널,0.0,1400.0,2000.0,0.0,0.0,0.0
3,31,305001067,0,2,C,별산리,삼례터미널,0.0,630.0,630.0,0.0,0.0,0.0
4,55,305001110,0,2,0,오천마을,평화동종점,0.0,708.0,1948.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,806,305001228,0,2,0,앞멀,평화동종점,0.0,625.0,2026.0,0.0,0.0,0.0
7700,872,305001250,0,2,0,장승리종점,평화동종점,0.0,710.0,2030.0,0.0,0.0,0.0
7701,837,305001374,0,2,A,응암마을,비전대학교,0.0,720.0,720.0,0.0,0.0,0.0
7702,855,305001244,0,2,0,분토종점,비전대학교,0.0,750.0,2102.0,0.0,0.0,0.0
7703,866,305001246,0,2,0,상리,비전대학교,0.0,808.0,2122.0,0.0,0.0,0.0

In [23]:
DirStop_Info_df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
dtype: int64

In [25]:
DirStop_Info_df.columns = ['brtId','brtStdId','brtClass','brtDirection','brtSubId','brtSname','brtEname','brtBusNum','brtFirstTime','brtLastTime','brtNeedTime','brtMininTerVal','brtMaxinTerVal']

In [26]:
DirStop_Info_df

,brtId,brtStdId,brtClass,brtDirection,brtSubId,brtSname,brtEname,brtBusNum,brtFirstTime,brtLastTime,brtNeedTime,brtMininTerVal,brtMaxinTerVal
0,88,305200572,0,2,0,중인동,감수리,0.0,603.0,2200.0,0.0,27.0,42.0
1,31,305001066,0,2,0,원구암,삼례터미널,0.0,800.0,1200.0,0.0,0.0,0.0
2,31,305001415,0,2,A,원구암,삼례터미널,0.0,1400.0,2000.0,0.0,0.0,0.0
3,31,305001067,0,2,C,별산리,삼례터미널,0.0,630.0,630.0,0.0,0.0,0.0
4,55,305001110,0,2,0,오천마을,평화동종점,0.0,708.0,1948.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,806,305001228,0,2,0,앞멀,평화동종점,0.0,625.0,2026.0,0.0,0.0,0.0
7700,872,305001250,0,2,0,장승리종점,평화동종점,0.0,710.0,2030.0,0.0,0.0,0.0
7701,837,305001374,0,2,A,응암마을,비전대학교,0.0,720.0,720.0,0.0,0.0,0.0
7702,855,305001244,0,2,0,분토종점,비전대학교,0.0,750.0,2102.0,0.0,0.0,0.0
7703,866,305001246,0,2,0,상리,비전대학교,0.0,808.0,2122.0,0.0,0.0,0.0

In [108]:

#'brtId','brtStdId','brtClass','brtDirection','brtSubId','brtSname','brtEname','brtBusNum','brtFirstTime','brtLastTime','brtNeedTime','brtMininTerVal','brtMaxinTerVal','brtIlreginTerValYn','stopStandardId','Lkey'

In [13]:
DirStop_Info_df_new=pd.DataFrame(DirStop_Info_df,columns=['brtId','brtStdId','brtClass','brtDirection','brtSubId','brtSname','brtEname','brtBusNum','brtFirstTime','brtLastTime','brtNeedTime','brtMininTerVal','brtMaxinTerVal'])

In [27]:
DirStop_Info_df.to_csv('/Users/junmishin/practice1/TIL/project/DirStop_Info_df_new.csv', mode='a', encoding ='utf-8', index=False)

In [28]:
DirStop_Info_df.isnull().sum()

brtId             0
brtStdId          0
brtClass          0
brtDirection      0
brtSubId          0
brtSname          0
brtEname          0
brtBusNum         0
brtFirstTime      0
brtLastTime       0
brtNeedTime       0
brtMininTerVal    0
brtMaxinTerVal    0
dtype: int64